@use 'sass:color';

//vars
$font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
$font-family--title: 'CarmenSans-ExtraBold', 'CarmenSans', $font-family;

// filter
$social-icons-dark: contrast(0) brightness(0);
$social-icons-light: contrast(1) brightness(1);

// layout
$footer-height: 60px;
$navbar-height: 80px;
$navbar-max-width: 1600px;
$page-padding-mobile: 10px;
$navbar-padding: 20px;
$icon-hero: 48px;
$icon-hero: 48px;
$icon-nav-selector: 6px;
$icon-social-media: 16px;
$icon-attachment-width: 17px;
$icon-attachment-height: 18px;
$icon-arrow-width: 14px;
$icon-arrow-height: 12px;
$icon-email-height: 14px;
$icon-email-width: 19px;
$icon-wip-height: 183px;
$icon-wip-width: 224px;

// spacers
$spacer--largest: 120px;
$spacer--large: 65px;
$spacer--default: 50px;
$spacer--medium: ($spacer--default * 0.8);
$spacer--small: ($spacer--default * 0.5);
$spacer--smallest: ($spacer--small * 0.333);
$spacer--nav-bar: 15px;
$spacer--icon: 5px;
$spacer--social-icon: 25px;

//text
$font-size--base: 20px;
$font-size--secondary: 18px;
$font-size--tertiary: 15px;
$font-size--navbar: 20px;
$font-size--intro: $font-size--secondary;
$font-size--base--mobile: $font-size--base - 2;
$font-size--role: $font-size--base;
$font-size--item-preview--title: $font-size--base;
$font-size--page-title: $font-size--base * 2;
$font-size--page-title--mobile: 26px;
$font-size--tags: $font-size--base - 4;
$font-size--section-header: $font-size--tertiary;
$font-size--quote: 36px;

$font-weight--regular: 400;
$font-weight--semibold: 500;
$font-weight--bold: 700;

$line-height--base: 1.6;
$line-height--title: 1.1;
$line-height--quote: 1.3;

// Breakpoints
$screen-xs: 0px;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;

// Small screen / tablet
$screen-sm: 600px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;

// Medium screen / desktop
$screen-md: 768px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;

// Large screen / wide desktop
$screen-lg: 992px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;

// Extra large screen / ultra-wide desktop
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;
$screen-xl-desktop: $screen-xl-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);
$screen-xl-max: 1940px;

// colors
$white: #ffffff;
$tuna: #333646;
$charade: #252734;
$yellow-sea: #fdc435;
$athens-gray: #ebebec;
$mine-shaft: #333333;
$french-gray: #c8c8cc;
$koromiko: #ffc25c;
$my-sins: #ffaf29;
$desert-storm: #f5f4f3;
$mid-gray: #666774;
$texas-rose: #ffc34d;
$waterloo: #858690;
$alto: #d1d1d1;
$dove-gray: #6a6a6a;
$manatee: #95969f;

$bg--dark: $tuna;
$bg--dark--top: $tuna;
$bg--light: $white;
$bg--card--light: color.adjust($bg--light, $lightness: 1%);
$bg--card--dark: color.adjust(color.adjust($bg--dark--top, $lightness: 5%), $saturation: -5%);
$text--dark: $athens-gray;
$text--light: $mine-shaft;
$text--nav-dark: $athens-gray;
$text--nav-light: $yellow-sea;
$text-secondary--dark: $alto;
$text-secondary--light: $dove-gray;
$brand--red--light: #b45139;
$brand--red--dark: color.adjust($brand--red--light, $lightness: 10%);
$brand--blue--light: #4376a3;
$brand--blue--dark: color.adjust($brand--blue--light, $lightness: 18%);
$highlight-color: color.adjust($brand--blue--light, $alpha: -0.1);
$hover--light: color.adjust($brand--blue--light, $alpha: -0.9);
$hover--dark: color.adjust(#fff, $alpha: -0.9);
$footer--title-dark: $athens-gray;
$footer--title-light: $mine-shaft;
$footer--title-desc-dark: $manatee;
$footer--title-desc-light: $dove-gray;
$footer--icon-email-dark: $athens-gray;
$footer--icon-email-light: $mid-gray;
$footer--salutation-text-1-dark: $athens-gray;
$footer--salutation-text-2-dark: $athens-gray;
$footer--salutation-text-1-light: $mine-shaft;
$footer--salutation-text-2-light: $dove-gray;
$wip--bg-dark: $charade;
$wip--bg-light: $yellow-sea;
$icon--wip-dark: $yellow-sea;
$icon--wip-light: $mine-shaft;

//GRADIENTS
@mixin linear-gradient($from, $to) {
  background: $to;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $from),
    color-stop(100%, $to)
  );
  background: -webkit-linear-gradient(top, $from 0%, $to 100%);
  background: -o-linear-gradient(top, $from 0%, $to 100%);
  background: linear-gradient(to bottom, $from 0%, $to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to});
}

//SHADOWS
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: $top $left $blur $color, $inset;
    -moz-box-shadow: $top $left $blur $color, $inset;
    box-shadow: $top $left $blur $color, $inset;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin card-shadow {
  @include box-shadow(
    0,
    1px,
    3px,
    rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24)
  );
}

@mixin card-shadow--hover {
  @include box-shadow(
    0,
    14px,
    28px,
    rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22)
  );
}
