@use 'sass:color';

//vars
$font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';

// filter

// layout
$footer-height: 60px;
$icon-social-media: 16px;

// spacers
$spacer--large: 65px;
$spacer--default: 50px;
$spacer--medium: ($spacer--default * 0.8);

//text
$font-size--base: 20px;
$font-size--base--mobile: $font-size--base - 2;

$line-height--base: 1.6;

// Breakpoints

// Small screen / tablet

// Medium screen / desktop
$screen-md: 768px;
$screen-md-min: $screen-md;

// Large screen / wide desktop
$screen-lg: 992px;
$screen-lg-min: $screen-lg;

// Extra large screen / ultra-wide desktop

// So media queries don't overlap when required, provide a maximum
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

// colors
$white: #ffffff;
$tuna: #333646;
$yellow-sea: #fdc435;
$athens-gray: #ebebec;
$mine-shaft: #333333;
$dove-gray: #6a6a6a;

$bg--dark: $tuna;
$bg--dark--top: $tuna;
$bg--light: $white;
$text--dark: $athens-gray;
$text--light: $mine-shaft;
$brand--blue--light: #4376a3;
$highlight-color: color.adjust($brand--blue--light, $alpha: -0.1);
$footer--salutation-text-2-dark: $athens-gray;
$footer--salutation-text-2-light: $dove-gray;

//GRADIENTS
@mixin linear-gradient($from, $to) {
  background: $to;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $from),
    color-stop(100%, $to)
  );
  background: -webkit-linear-gradient(top, $from 0%, $to 100%);
  background: -o-linear-gradient(top, $from 0%, $to 100%);
  background: linear-gradient(to bottom, $from 0%, $to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to});
}

//SHADOWS
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: $top $left $blur $color, $inset;
    -moz-box-shadow: $top $left $blur $color, $inset;
    box-shadow: $top $left $blur $color, $inset;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin card-shadow {
  @include box-shadow(
    0,
    1px,
    3px,
    rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24)
  );
}

@mixin card-shadow--hover {
  @include box-shadow(
    0,
    14px,
    28px,
    rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22)
  );
}
