.landing {
  &__container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px 120px 65px;

    @media (max-width: $screen-lg-max) {
      background-position: right;
    }

    @media (max-width: $screen-lg-min) {
      background-position: 300%;
    }

    @media (max-width: $screen-md-max) {
      padding: $spacer--default $spacer--large $spacer--large;
    }

    @media (max-width: $screen-sm-max) {
      background: none;
      padding: $spacer--medium $spacer--medium;
    }
  }
  &__information {
    display: flex;
    justify-content: space-between;
    margin: 0px 68px;
    @media (max-width: $screen-lg-max) {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
  &__section {
    &.section-1 {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .title {
        font-family: 'Menlo-Regular';
        font-size: 24px;
        color: $yellow-sea;
        letter-spacing: 2px;
      }

      .name {
        display: flex;
        flex-direction: column;

        span {
          font-family: 'CarmenSans-Bold';
          font-size: 72px;
          line-height: 75px;
          @include themed() {
            color: t($text);
          }

          @media (max-width: $screen-sm-max) {
            font-size: 50px;
            line-height: 52px;
          }
        }

        span:last-of-type:after {
          content: ' ';
          display: block;
          height: 3px;
          width: 60px;
          margin-top: 32px;
          background-color: $yellow-sea;

          @media (max-width: $screen-sm-max) {
            margin-top: 5px;
          }
        }
      }

      .social-icons {
        justify-content: start;
        margin-top: 84px;
        @media (max-width: $screen-sm-max) {
          margin-top: 50px;
        }
        @include themed() {
          filter: t($social-icons-color);
        }

        .icon {
          height: 24px;
          width: 24px;
        }
      }
    }
    &.section-2 {
      display: flex;
      flex: 1;
      max-width: 420px;
      margin-top: 75px;

      .info-2 {
        position: relative;
      }

      .info-2:before {
        content: ' ';
        display: block;
        position: absolute;
        height: 3px;
        width: 60px;
        top: -30px;
        right: 0;
        margin-bottom: 32px;
        background-color: $yellow-sea;

        @media (max-width: $screen-sm-max) {
          margin-bottom: 5px;
        }
      }
    }
  }
}
