.social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;

  a {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 44px;
    min-height: 44px;

    @include themed() {
      filter: t($social-icons-color);
    }
  }

  .icon {
    height: 24px;
    width: 24px;
  }
}
